.ps-container {
  &:hover {
    &>.ps-scrollbar-y-rail {
      &:hover {
        background: transparent;
      }
    }
  }

  &.ps-in-scrolling {
    &.ps-y {
      > .ps-scrollbar-y-rail {
        background-color: transparent !important;

        > .ps-scrollbar-y {
          background: darken(#999, 5%) !important;
        }
      }
    }
  }
}

.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999; }