/** Font **/
$primary-font: "Raleway", sans-serif;
$secondary-font: "Open Sans", sans-serif;

/** Colors **/
$primary-color: #111111;
$secondary-color: #696F6F;
$tertiary-color: #F4F4F4;
$default-text-color: #373a3c;
$danger-color: #ed4139;

$brand-danger: #ed4139;
$brand-primary: #009fc6;

/** Prompt Variabels **/
$prompt-md: 300px;
$prompt-dialog-margin: 50px 20px;
$zindex-prompt: 3;
$prompt-position: right;

/** Social colors **/
$facebook-blue: #365899;
$twitter-blue: #1b95e0;